{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGE UNAS</title>
    <link rel="stylesheet" href="{% static "stiloindex.css" %}">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <form method="GET">
        <div>
            {{ filter.form.escuela_profesional.label_tag }}
            {{ filter.form.escuela_profesional }}
        </div>
        <div>
            {{ filter.form.fecha_ingreso__year.label_tag }}
            {{ filter.form.fecha_ingreso__year }}
        </div>
        <button type="submit">Filtrar</button>
    </form>
    
    {% for alumno in alumnos %}
        <!-- Mostrar los datos del alumno -->
        {{ alumno.nombre }}, {{ alumno.apellido_paterno }}, {{ alumno.apellido_materno }}, {{ alumno.Escuela_profesional }}
        <!-- Puedes seguir mostrando otros campos según lo necesario -->
    {% endfor %}
    
    <footer>
        <p>© 2024 UNAS</p>
    </footer>
</body>
</html>